@font-face {
    font-family: "sans georgian";
    src: url(fonts/NotoSansGeorgian-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: "saira";
    src: url(fonts/Saira-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: "Montserrat2";
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "sans georgian";
}
.header{
display: flex;
background-color: #32308D;
height: 96px;
justify-content: center;
align-items: center;
gap: 3%;
padding: 20px;
z-index: 1200;

}

.head{
position: fixed;
width: 100%;
z-index: 400;
}

.menu{
display: none;
flex-direction: column;
gap: 8px;
padding: 20px;
align-items: baseline;
cursor: pointer;
transition: .5s;
}
.bar:nth-child(1){
width: 29px;
height: 3px;
border-radius: 10px;
background-color: #FFF;
}
.bar:nth-child(2){
width: 22px;
height: 3px;
border-radius: 10px;
background-color: #FFF;
}
.bar:nth-child(3){
width: 29px;
height: 3px;
border-radius: 10px;
background-color: #FFF;
}
 .enter{
display: flex;
align-items: center;
gap: 7px;
}
.save, .cart{
display: flex;
justify-content: center;
margin-top: -22px;
gap: 7px;
}
.save, .cart, .enter{
    cursor: pointer;
}
.save p, .cart p, .cart a{
    display: flex;
    align-items: flex-end;
    }
    .cart a, .save a, .enter a {
      text-decoration: none;
      color: #FFF;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
      display: flex;
      gap: 7px;
  }
    .cnt2{
    display: flex;
flex-direction: column;
align-items: center;
gap: 6px;
position: relative;
top: 1px;
}
.logo img{
    width: 281px;
    height: 42px;
    cursor: pointer;
    }
.dropdown{
display: flex;
align-items: center;
color: #7371BC;
font-size: 14px;
font-weight: 400;
line-height: normal;
background: #FFF;
width: 167px;
height: 54px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}
.dropdown p{
border-left: 1px solid rgba(115, 113, 188, 0.54);    ;
height: 24px;
margin: 11px;
padding-left: 13px;
}
.dropdown img{
width: 16px;
cursor: pointer;
}
.input1{
    position: relative;
    width: 579px;
}
.input{
width: 100%;
height: 54px;
display: flex;
align-items: center;
background: #FFF;
border-radius: 10px;
gap: 6px;
padding: 10px;
}

.input input{
border: none;
background: #FFF;
}
.textinput{
width: 100%;
}
input:focus{
outline: none;
}
input::placeholder{
color: #9796B9;
font-size: 14px;
}
.search{
background: #FFF;
height: 54px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
display: flex;
}
.search img{
width: 16px;
margin: 6px;
}
.save img{
width: 20.573px;
height: 17px;
}
.cart img{
width: 22px;
height: 19.875px;
} 
.enter img{
width: 13.077px;
height: 16.999px;
}
.save, .cart, .enter{
color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
}
.language{
width: 43px;
height: 26px;
border-radius: 7px;
border: none;
background: rgba(255, 255, 255, 0.15);
color: #FFF;
font-size: 12px;
cursor: pointer;
}
.cnt{
display: flex;
flex-direction: column;
align-items: center;
gap: 6px;
position: relative;
top: 7px;
}
.categories{
width: 228px;
height: 484px;
border-radius: 12px;
border: 1px solid #E2E1E7;
background: #FFF;
box-shadow: 0px 11px 17px 0px rgba(0, 0, 0, 0.09);
position: absolute;
right: 0;
top: 60px;
display: none;
transition: all 2s;
z-index: 400;
}
.categories p{
    color: #7371BC;
text-align: right;
font-family: "sans georgian";
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 182%;
margin-right: 10px;
cursor: pointer;
}
#first{
    color: #6B69A1;
    font-family: "sans georgian";
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-top: 10px;
}
.carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 84px;
    background: #F8F7FF;
    position: fixed;
    top: 90px;
    left: 0;
    width: 100%;
    z-index: 300;
}
.main-scroll-div{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 20px;
}
.cover{
    width: 90%;
    height: 50%;
}

.scroll-texts{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: auto;
    padding-top: 10px;
}
.scroll-texts::-webkit-scrollbar{
    -webkit-appearance: none;
}
.child a{
    text-decoration: none;
}
.child{
    min-width: 130px;
    margin: 1px 10px;
    cursor: pointer;
    overflow: hidden;
}
.child1{
    min-width: 170px;
    margin: 1px 10px;
    cursor: pointer;
    overflow: hidden;
}
.button{
width: 16.333px;
height: 17.192px;
cursor: pointer;
}

.firstch{
    width: 178px;
    height: 47px;
padding: 13px 18px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 8px;
background: #27BDBE;
gap: 8px;
}
.firstch p{
    color: #FFF;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
text-align: center;
}
.sech h1, .sech2 h1{
color: #3A3A3A;
font-family: Noto Sans Georgian;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}
.sech p, .sech2 p{
color: #8E8E8E;
font-family: Noto Sans Georgian;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.sech{
width: 139px;
height: 61px;
border-radius: 8px;
border: 1px solid #E2E1E7;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.child img{
        width: 21px;
    height: 21px;
}
.sech2{
    width: 100%;
height: 61px;
border-radius: 8px;
display: flex;
flex-direction: column;
justify-content: center;
}
.thich h1{
color: #3A3A3A;
font-family: "sans georgian";
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}
.thich p{
color: #8E8E8E;
font-family: "sans georgian";
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.fad h1{
    color: #3A3A3A;
    font-family: "sans georgian";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    }
    .accordion-container{
        position: fixed;
        width: 100%;
    }
    .main-accordion{
        display: none;
        flex-direction: column;
        max-height: 800px;
        overflow: hidden;
        overflow-y: scroll;
    }  
    .accordion-div{
        background-color: #F8F7FF;
    }
    .accordions {
        background-color: #F8F7FF;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        display: flex;
        justify-content: space-between;
      }
      .dropdown2{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .texts2{
        padding: 10px;
    }
    
      .panel h1{
        color: #5C5C5C;
    font-family: "sans georgian";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
      }
      .panel p{
        color: #8E8E8E;
        font-family: "sans georgian";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 182%;
      } 
      .right-header{
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #32308D;
    
    }
    .paneltxt{
        padding-top: 10px;
    }
    .accordion2{
        border: 1px solid #E2E1E7;
        display: flex;
        width: 100%;
        border-radius: 8px;
    }
    .accordion3{
        border: none;
        display: flex;
        width: 100%;
    }
    .right-header2{
        display: flex;
        gap: 45px;
    }
    .accordion {
        color: #000000;
        background-color: #F8F7FF;
        cursor: pointer;
        padding: 10px 10px;
        padding-bottom: 0px;
        width: 100%;
        text-align: left;
        outline: none;
        transition: 0.4s;
        border: none;
      }
      
      .panel {
        padding: 0 30px;
        font-size: 18px;
        background-color: #F8F7FF;
        max-height: 0;
        overflow: hidden;
        overflow-y: scroll;
        transition: max-height 0.3s ease-out;
      }
      .xbutton{
        width: 42px;
        height: 40px;
        border-radius: 7px;
        background: rgba(255, 255, 255, 0.15);
        display: none;   
        justify-content: center;
        align-items: center;
    }
    .searchbutton img, .xbutton img{
        width: 20px;
    height: 20px;
    }
    .searchbutton, .xbutton{
        width: 42px;
    height: 40px;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.15);
    display: none;
    justify-content: center;
    align-items: center;
    }
    .sign-in1, .sign-in2{
        width: 100%;
        height: 100%;
        background: rgba(36, 32, 55, 0.60);
        z-index: 400;
        position: fixed;
        top: 0;
        bottom: 0;
        display: none;
        justify-content: center;
        align-items: center;
    }
    
    .sign-in{
        width: 356px;
    height: 347px;
    border: 1px solid #E2E1E7;
    background: #fff;
    box-shadow: 0px 11px 17px 0px rgba(0, 0, 0, 0.09);
    z-index: 400;
    position: relative;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .sign-in3{
        width: 356px;
    height: 524px;
    border: 1px solid #E2E1E7;
    background: #fff;
    box-shadow: 0px 11px 17px 0px rgba(0, 0, 0, 0.09);
    z-index: 400;
    position: relative;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .sign-in3 .authorization{
        color: #8D8D8D;
        text-align: center;
        font-family: 'sans georgian';
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: lowercase;
         padding: 7px;
        cursor: pointer;
        border-bottom: 1px  solid #fff;
    }
    .sign-in3 .authorization:hover{
         border-bottom: 1px  solid #3A3A3A;
       color: #3A3A3A;
    }
    .sign-in3 .registration{
        padding: 7px;
        border-bottom: 1px  solid #3A3A3A;
       text-align: center;
       color: #3A3A3A;
       text-align: center;
       font-family: 'sans georgian';
       font-size: 12px;
       font-style: normal;
       font-weight: 500;
       line-height: normal;
       text-transform: lowercase;
       cursor: pointer;
    }
    .x-icon img, .x-icon2 img{
    width: 32px;
    height: 32px;
    position: absolute;
    top: -32px;
    right: -30px;
    z-index: 500;
    cursor: pointer;
    }
    .sign-in-subheading{
        color: #3A3A3A;
    text-align: center;
    font-family: "sans georgian";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 7px;
    }
    .autor-registration{
        display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    }
    
    .authorization{
        padding: 7px;
        border-bottom: 1px  solid #3A3A3A;
       text-align: center;
       color: #3A3A3A;
       text-align: center;
       font-family: 'sans georgian';
       font-size: 12px;
       font-style: normal;
       font-weight: 500;
       line-height: normal;
       text-transform: lowercase;
       cursor: pointer;
    }
    .authorization2{
        padding: 7px;
       text-align: center;
       color: #3A3A3A;
       text-align: center;
       font-family: 'sans georgian';
       font-size: 12px;
       font-style: normal;
       font-weight: 500;
       line-height: normal;
       text-transform: lowercase;
       cursor: pointer;
    }
    .authorization2:hover{
        border-bottom: 1px  solid #3A3A3A;
        color: #3A3A3A;
    }
    .registration{
        color: #8D8D8D;
        text-align: center;
        font-family: 'sans georgian';
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: lowercase;
         padding: 7px;
        cursor: pointer;
        border-bottom: 1px  solid #fff;
    }
    .registration:hover {
        border-bottom: 1px  solid #3A3A3A;
       color: #3A3A3A;
    }
    .email-input{
        width: 319px;
        height: 38px;
        border-radius: 6px;
        border: 1px solid #BDBDBD;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    .email-input input{
    border: none;
    width: 100%;
    padding-left: 10px;
    }
    .email-input input::placeholder{
        color: #8D8D8D;
    font-family: "sans georgian";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    }
    .email-input img{
    padding: 10px;
    
    }
    .input-main-container{
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 12px;
    }
    .forget{
        color: #8D8D8D;
    font-family: "sans georgian";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    display: flex;
    justify-content: center;
    margin-top:9px ;
    margin-bottom: 14px;
    cursor: pointer;
    }
    .enter-acc{
      width: 319px;
  height: 39px;
  border-radius: 6px;
  background: #FDE045;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  
  }
  a{
      text-decoration: none;
  }
  .enter-acc p{
      color: #3A3A3A;
  text-align: center;
  font-family: "sans georgian";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  
  }
    .enter-acc img{
        width: 13.077px;
    height: 16.999px;
    }
    .or{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-top: 10px;
    }
    .or p{
        color: #8D8D8D;
    font-family: "sans georgian";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    }
    .or div{
        width: 137px;
    height: 1px;
    background: #BDBDBD;
    }
    .google-facebook{
        display: flex;
        gap: 11px;
        margin-top: 9px;
    }
    .google{
    width: 154px;
    height: 38px;
    border-radius: 6px;
    border: 1px solid #518EF8;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    }
    .google img{
        width: 16px;
    height: 16px;
    }
    .google p{
        color: #518EF8;
    text-align: center;
    font-family: "sans georgian";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    }
    .facebook{
        display: flex;
    width: 154px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 6px;
    border: 1px solid #1877F2;
    background: #1877F2;
    cursor: pointer;
    }
    .facebook p{
        color: #FFF;
    text-align: center;
    font-family: "sans georgian";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    }
    .accordion-container{
        position: fixed;
        width: 100%;
    }
    .main-accordion{
        display: none;
        flex-direction: column;
        max-height: 800px;
        overflow: hidden;
        overflow-y: scroll;
    }  
    .accordion-div{
        background-color: #F8F7FF;
    }
    .accordions {
        background-color: #F8F7FF;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        display: flex;
        justify-content: space-between;
      }
      .dropdown2{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .texts2{
        padding: 10px;
    }
    
      .panel h1{
        color: #5C5C5C;
    font-family: "sans georgian";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
      }
      .panel p{
        color: #8E8E8E;
        font-family: "sans georgian";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 182%;
      } 
      .top-part{
        width: 100%;
        height: 110px;
        background: #322F8C;
        margin-top: 66px;
        display: flex;
        gap: 126px;
        justify-content: center;
        align-items: center;
    }
    .parts{
        display: flex;
        gap: 10px;
    }
    .border{
        width: 40px;
    height: 40px;
    border: 1px solid #FFF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .parts img{
        width: 18px;
    height: 18px;
    object-fit: contain;
    }
    .parts p{
        color: #FFF;
    font-family: "sans georgian";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
    text-transform: uppercase;
    }
    .bottom-part{
    display: flex;
    gap: 100px;
    padding: 50px;
    
    }
    .footer-cont h1{
        color: #4C4B6F;
        font-family: "sans georgian";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
    }
    .footer-cont a{
        text-decoration: none;
    color: #4C4B6E;
    font-family: Noto Sans Georgian;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 199.5%; 
    }
    .follow{
        display: flex;
        align-items: center;
        gap: 7px;
    }
    .follow img{
        width: 13.5px;
    height: 13.5px;
    object-fit: cover;
    }
    .footerlogo{
    display: flex;
    gap: 10px;
    align-items: center;
    }
    .last-part{
        display: flex;
        border-top: 1px solid rgba(76, 75, 110, 0.40);
        justify-content: space-between;
        padding: 30px;
        width: 1400px;
    }
    .last-cont{
       display: flex;
     justify-content: center;
    }
    .createdby{
        display: flex;
    }
    .last-part p{
        color: #4C4B6E;
    font-family: "sans georgian";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 230.5%;
    }
    .createdby h1{
        color: #4C4B6E;
    font-family: "sans georgian";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 230.5%;
    text-transform: uppercase;
    }
   .footer{
    margin-top: 60px;
   }
  .pages{
    display: flex;
    gap: 10px;
  }
.pages p{
    color: #8E8E8E;
font-family: "sans georgian";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
cursor: pointer;
padding-bottom: 18px;
}
.pages a{
    text-decoration: none;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D4D1E4;
    margin-top: 180px;
    width: 1400px;
}
.aim{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 0px;
}
.codes{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 18px;
}
.codes p{
  color: #8E8E8E;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 140px;
}
.codes h1{
  color: #5856A3;
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
width: 74px;
height: 30px;
flex-shrink: 0;
border-radius: 7px;
background: #F3F1FE;
display: flex;
justify-content: center;
align-items: center;
}
.mySlides {
    display: none
}
.mySlides2 {
  display: none
}
.pop-up{
  display: none;
}
.slideshow-container {
  width: 500px;
  height: 500px;
  position: relative;
 border-radius: 12px;
  border: 1px solid #E2E1E7;
  background: #FFF;;
}
.slideshow-container2{
  width: 500px;
  height: 500px;
  position: relative;
 border-radius: 12px;
  border: 1px solid #E2E1E7;
  background: #FFF;;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.fade img{
  width: 353px;
  height: 353px;
object-fit: contain;
cursor: pointer;
}
.fade2 img{
  width: 353px;
  height: 353px;
object-fit: contain;
cursor: pointer;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.svg{
  width: 49px;
height: 49px;
border-radius: 50px;
border: 1px solid #E2E1E7;
margin-left: 10px;
margin-right: 10px;
display: flex;
justify-content: center;
padding: 14px;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.image{
  width: 116px;
height: 89px;
border-radius: 12px;
border-radius: 12px;
border: 1px solid #E2E1E7;
background: #FFF;
padding: 22px;
object-fit: contain;
cursor: pointer;
}
.active, .image:hover{
  border: 2px solid #8D8BCC;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  padding: 73px 73px 74px;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.share{
  display: flex;
  align-items: center;
  gap: 7px;
  position: absolute;
  right: 0;
  padding: 10px;
  cursor: pointer;
}
.share svg{
  width: 27px;
height: 27px;
}
.share p{
color: #B9B9D2;
text-align: right;
font-family: "sans georgian";
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.third img{
  width: 343px;
height: 353px;
margin-left: 4px;
}
.main-container{
    display: flex;
    margin-top: 12px;
    justify-content: center;
}
.new{
    border-radius: 17px;
    background: #ED0677;
    color: #FFF;
    font-family: "sans georgian";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    width: 54px;
    height: 25px;
    text-align: center;
    padding-top: 4px;
}
.limited{
    width: 118px;
    height: 25px;
    border-radius: 17px;
    background: #9E248E;
    color: #FFF;
    font-family: "sans georgian";
    font-size: 12px;
    text-align: center;
    padding-top: 3px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    padding-top: 4px;
}
.sub{
    display: flex;
    gap: 4px;
}
.info{
    margin-left: 26px;
}
.samsung{
    font-family: "sans georgian";
    color: #3A3A3A;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
margin-top: 16px;
}
.color-picker{
    display: flex;
    gap: 7px;
    align-items: center;
    margin-top: 23px;
}
.color-picker p{
    color: #8B8B8B;
font-family: "sans georgian";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
}
.first-color, .second-color, .third-color{
  width: 32px;
height: 32px;
border-radius: 50%;
cursor: pointer;

}
.first-color{
    background-color: #CEC8E0;
}
.second-color{
    background: #291E48;
}
.third-color{
    background-color: #FFB0B5;
}
.first-color:hover, .second-color:hover, .third-color:hover{
  border-width: 3px;
  border-color: #FFF;
  border-style: double;

}
.div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 7px;
border: 1px solid #8DC63F;
width: 104px;
height: 28px;
margin-top: 25px;
}
.div p{
    color: #8DC63F;
font-family: "sans georgian";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: lowercase;
}
.storage{
    display: flex;
    margin-top: 29px;
    align-items: center;
    gap: 9px;
}
.storage h1, .guaP, .amount p{
    color: #8B8B8B;
    font-family: "sans georgian";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}
.border2{
    width: 65px;
 height: 29px;
    border-radius: 8px;
border: 1px solid #E2E1E7;
background: #FFF;
color: #3A3A3A;
font-family: "sans georgian";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
text-align: center;
padding-top: 3px;
}
.storage p{
    color: #3A3A3A;
font-family: "sans georgian";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
}
.guarantee{
    display: flex;
    gap: 9px;
    align-items: center;
    margin-top: 29px;
}
.amount{
    display: flex;
    margin-top: 31px;
    gap: 10px;
    align-items: center;
}
.input-group{
    width: 94px;
  height: 31px;
  display: flex; 
  border: 1px solid #D6D6DE;
  background: #FFF;
  justify-content: center;
  border-radius: 8px;
  }
  .form-control{
    width: 29px;
    border-left: 1px solid #D6D6DE;
    border-right: 1px solid #D6D6DE;
    border-top: none;
    border-bottom: none;
    text-align: center;
    color: #606060;
    font-family: "sans georgian";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  outline: none;
  }
  .input-group-btn{
    width: 32px;
  }
  .btn-default{
    border: none;
    background-color: #FFF;
    width: 11px;
    cursor: pointer;
  }
  .btn-default svg{
  margin-top: 10px;
  margin-left: 10px;
  width: 11px;
  height: 11px;
  }
  .btn3 button{
margin: 10px;
  background: #D6D6DE;
  border: none;
  width: 11px;
height: 3px;
  }

.priceB, .priceB2{
    color: #404040;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-bottom: 14px;
}
.pricebox{
margin-left: 169px;
border-radius: 12px;
border: 1px solid #E2E1E7;
background: #FFF;
box-shadow: 0px 11px 17px 0px rgba(0, 0, 0, 0.09);
width: 294px;
height: 333px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.pricebox2{
  margin-left: 169px;
border-radius: 12px;
border: 1px solid #E2E1E7;
background: #FFF;
box-shadow: 0px 11px 17px 0px rgba(0, 0, 0, 0.09);
width: 294px;
height: 333px;
display: none;
flex-direction: column;
align-items: center;
justify-content: center;
}
.saveit, .saveit2{
    width: 231px;
    border-radius: 8px;
background: #EF4136;
display: flex;
justify-content: center;
align-items: center;
padding: 15px 23px 15px;
gap: 10px;
margin-bottom: 9px;
cursor: pointer;
}
.saveit p,.buyit p, .purchase p{
    color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
}
.buyit{
    width: 231px;
    border-radius: 8px;
    background: #27BDBE;
display: flex;
justify-content: center;
align-items: center;
padding: 15px 23px 15px;
gap: 10px;
margin-bottom: 9px;
cursor: pointer;
}
.purchase{
    width: 231px;
    border-radius: 8px;
    background: #32308D;
display: flex;
justify-content: center;
align-items: center;
padding: 15px 23px 15px;
gap: 10px;
margin-bottom: 9px;
cursor: pointer;
}

.logos{
    display: flex;
    gap: 5px;
    margin-top: 19px;
}
.logos img{
    object-fit: contain;
    cursor: pointer;
}
.tab-button{
    font-size: 18px;
    cursor: pointer;
    color: #797979;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  width: 298px;
  height: 57px;
  background: #FFF;
  }
  .tab-button2{
    width: 174px;
  height: 57px;
  border: none;
  background: #FFf;
  cursor: pointer;
  color: #797979;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  }
  .tab-button3{
    color: #797979;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  background: #FFf;
  width: 207px;
  height: 57px;
  cursor: pointer;
  }
  .tab-button.active, .tab-button2.active, .tab-button3.active {
    border: 1px solid #E2E1E7;
    border-radius: 12px;
    color: #3A3A3A;
  }
  .content {
    display: none;
    padding: 10px 20px;
    border: none;
    justify-content: center;
    align-items: center;
  }
  
  .content.active {
    display: block;
  }
  .content tr:nth-child(odd){
    background: #FAFAFF;
  }
  .content td{
    padding: 10px;
    color: #575757;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
  }
  .capture td{
    color: #3A3A3A;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: lowercase;
  }
  .content table{
    width: 1400px;
    border-collapse: collapse;
  }
  .dropdown2{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
  border: 1px solid #DADAEC;
  background: #FAFAFF;
  width: 139px;
  height: 35px;
  cursor: pointer;
  gap: 9px;
  }
  .dropdown2:hover .btn{
    transform: rotate(180deg);
  }
  .dropdown2 p{
    color: #575757;
  font-family: Noto Sans Georgian;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  }

  .thelast td{
    background: #FFF;
  }
  .qoy{
    display: flex;
    align-items: center;
    gap: 14px;
  }
  .first-content, .second-content{
    width: 212px;
    height: 267px;
    border: 1px solid #BDBDBD;
  background: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  .first-content h1{
    color: #3A3A3A;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
   margin-top: 30px;
  }
  .secondcont{
    color: #3A3A3A;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 6px;
  }
  .first-content img{
    width: 81px;
  height: 105px;
  }
  .priceL{
    display: flex;
    align-items: center;
    gap: 2px;
    margin-top: 15px;
  }
  .priceL p{
    color: #3A3A3A;
  font-size: 12.018px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  }
  .priceL h2{
    color: #3A3A3A;
  font-size: 17.481px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  }
  .conta{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .second-content img{
    width: 157px;
  height: 157px;
  margin-top: -14px;
  }
  .second-content p{
    color: #8DC63F;
  font-size: 17.481px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  }
  .jj{
    width: 119px;
  height: 119px;
  padding: 7px;
  }
  .addacc{
    width: 121px;
  height: 54px;
  color: #3A3A3A;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: lowercase;
  }
  .second-content button{
    width: 141px;
    height: 45px;
    border-radius: 8px;
  border: 1px solid #8DC63F;
  background: #FFF;
  color: #5B5B5B;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: lowercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  margin-top: 43px;
  }
  .third-content{
    width: 335px;
    height: 267px;
    border: 1px solid #BDBDBD;
  background: #FFF;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 50px;
  position: relative;
  }
  .third-content del{
    color: #A9A9A9;
  font-size: 18.692px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  }
  .prc{
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .prc p{
    color: #8B8B8B;
  font-size: 17.134px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  }
  .prc h1{
    color: #3A3A3A;
  font-size: 24.923px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  }
  .third-content button{
    width: 230px;
  height: 45px;
  border-radius: 8px;
  background: #27BDBE;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 51px;
  cursor: pointer;
  }
  .plus-minus{
    display: none;
    gap: 144px;
    position: absolute;
   right: 300px;
  }
  .wrapper{
    margin-top: 44px;
  }
  .buttonWrapper{
    /* position: absolute;
    left: 65px; */
    margin-bottom: 12px;
   margin-left: 110px;
  }
.second{
  display: none
}

  @import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;700&display=swap');


  .adds{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 37px;
    flex-wrap: wrap;
}
.heading-2{
  margin-top: 36px;
  display: flex;
  justify-content: center;
}
.sub2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1400px ;
}

.sub2 h1{
 color: #474747;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
font-family: "sans georgian";
}
.main3{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 32px;
}
.phone-sales{
    display: flex;
    width: 1399px;
    border-radius: 12px;
    flex-wrap: wrap;
    justify-content: center;
}
.sales-card-table2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 382px;
    width: 277px;
    border: 1px solid #D3D3D3;
    gap: 15px;
    border-collapse: collapse;
    cursor: pointer;
}
.price-sales p{
  color: #EF4136;
text-align: right;
font-family: "sans georgian";
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}
.phone-sales img{
    width: 119px;
height: 161px;
object-fit: contain;
}
.phone-sales-p{
    color: #3A3A3A;
    text-align: center;
    font-family: "sans georgian";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    width: 186px;
height: 50px;
}
.phone-sales{
    display: flex;
    border-radius: 12px;
    flex-wrap: wrap;
    justify-content: center;
}
.salesold{
    display: flex;
    gap: 5px;
}
.excl{
    width: 81px;
height: 25px;
border-radius: 17px;
background: #F27CB1;
color: #FFF;
font-family: "sans georgian";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
text-align: center;
padding-top: 5px;
}
.sales-card-table:hover #icont{
  fill: #27BDBE;
}
.sales-card-table:hover #icont1{
  fill: #EF4136;
}
.sales-card-table:hover #icont2{
  fill:#015BAB;
}
.sales-card-table2:hover #icont{
  fill: #27BDBE;
}
.sales-card-table2:hover #icont1{
  fill: #EF4136;
}
.sales-card-table2:hover #icont2{
  fill:#015BAB;
}
.sales-card-table2 h3{
  border-radius: 17px;
background: #ED0677;
color: #FFF;
font-family:"sans georgian";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
width: 54px;
height: 25px;
text-align: center;
padding-top: 4px;
}
.excl2{
  width: 118px;
  height: 25px;
  border-radius: 17px;
background: #9E248E;
color: #FFF;
font-family:"sans georgian";
font-size: 12px;
text-align: center;
padding-top: 3px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
padding-top: 4px;
}
.wrapper{
  display: flex;
  flex-direction: column;
}
.contentWrapper{
  display: flex;
  justify-content: center;
  width: 100%;
}
.mySlides2 img {
  width: 561px;
 height: 562px;
  object-fit: contain;
  border-radius: 12px;
  border: 1px solid #E2E1E7;
  background: #FFF;
  padding: 50px;
}
.slideshow-container2 {
  position: relative;
  margin-top: 20px;
}
.dots2{
  width: 100px;
height: 80px;
object-fit: contain;
  border-radius: 12px;
border: 1px solid #E2E1E7;
background: #FFF;
padding: 15px;
margin-right: 12px;
cursor: pointer;
margin-top: 60px;
}

.pop-up{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(36, 32, 55, 0.60);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  overflow-y: scroll;
  overflow: hidden;
  z-index: 900;
  padding-top: 40px;
}
.mySlides2{
  display: none;
  justify-content: center;
  align-items: center;
}
.prev2{
  position: absolute;
  left: -95px;
  top: 260px;
  cursor: pointer;
}
.next2{
  position: absolute;
  left: 545px;
  top: 260px;
  cursor: pointer;
}
.excit{
  position: relative;
  top:-699px;
  left: 290px;
  cursor: pointer;
}
.dropdown2{
  border: none;
}
.accordion{
  border: none;
}
.menu{
  border: none;
}
.main-accordion{
  border: none;
}
.respshare{
  display: none;
  gap: 79px;
}
.share2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.share2 p{
  color: #B9B9D2;
text-align: right;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.share3{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
}
.share3 p{
  color: #8E8E8E;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.share3 h1{
  color: #5856A3;
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
width: 74px;
height: 30px;
border-radius: 7px;
background: #F3F1FE;
text-align: center;
padding-top: 5px;
}


@media screen and (max-width:1409px) {
.content table{
  width: 100%;
}

.wrapper{
  display: flex;
  align-items: center;
}
.buttonWrapper{
position: static;
}
.content{
  margin-top: 30px;
}
}
    @media screen and (max-width:1406px){
        .bottom-part{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 60px;
        }
        .top-part{
            display: flex;
            flex-wrap: wrap;
            height: auto;
          justify-content: center;
          align-items: center;
            padding: 30px;
            gap: 40px;
            
        }
        .footer-cont{
            width:182px;
        }
        .parts{
            width: 210px;
        }
        .offerings{
            padding: 20px;
        }
        .last-part{
            display: flex;
            flex-wrap: wrap;
           justify-content: center;
            gap: 50%;
        }
      .pages{
        width: 90%;
      }
      .main{
        width: 100%;
      }
       .pricebox{
        margin-left: 20px;
       }
       .sub2{
        margin-left: 40px;
       }
        }
     @media screen and (max-width:1258px) {
      .main-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
      }
      .info{
        margin-left: -90px;
      }
      .pricebox2{
        display: flex;
        margin: 0;
        margin-top: 37px;
        margin-bottom: 37px;
      }
      .first{
        display: none;
      }
      
     }
        @media screen and (max-width:1074px) {
           .menu{
            display: flex;
            background: #32308D;
           }
           .input1{
         display: none;
           }
           .input1.visible{
            width: 100%;
            height: 100%;
            background: rgba(36, 32, 55, 0.60);
            z-index: 900;
            position: fixed;
            top: 89px;
            left: 0;
            display: flex;
            justify-content: center;
           }
           .categories{
            position: absolute;
            top: 56px;
            right: 0;
           }
           .input.visible{
            width: 90%;
            z-index: 200;
           position: absolute;
           }
           .searchbutton{
            display: flex;
           }
          .right-header{
            width: 100%;
            display: none;
            justify-content: center;
            left: 0;
            background: #32308D;
          }
          .right-header2{
            background: #32308D;
           position: absolute;
           width: 100%;
           height: 50px;
           display: flex;
           justify-content: center;
           align-items: center;
           left: 0;
           top: 85px;
           gap: 30px;
           z-index: 400;
          }
          .main-accordion{
            width: 100%;
            position: absolute;
            left: 0;
            top: 40px;
          }
          .accordion-container{
            z-index: 700;
          }
          .main-accordion.active{
            display: flex;
            z-index: 1000;
          }
          .right-header.active{
            display: flex;
          }
          .menu.active .bar:nth-child(2){
            opacity: 0;
          } 
          .menu.active .bar:nth-child(1){
            transform: translateY(11px) rotate(45deg);
           width: 30px;
           position: relative;
           top: 0.8px;
        background-color:#FFFFFF;
          } 
          .menu.active .bar:nth-child(3){
            transform: translateY(-10px) rotate(-45deg);
          width: 30px;
          background-color:#FFFFFF;
         } 
        
           .header{
          display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-around;
           }
           .sign-in1, .sign-in2{
            z-index: 400;
            position: fixed;
            top: 136px;
            bottom: 0;
        }
        .sign-in,.sign-in3{
        position: absolute;
        top: 47px;
        }
        .third-content{
          width: 212px;
    height: 267px;
    margin: 0;
    padding: 0;
    display: flex;
        }
        .third-content button{
          width: 140px;
          margin-top:30px;
          padding: 0;
          margin-right: 28px;
        }
        .third-content del, .prc{
          margin-right: 28px;
        }
        .save img{
          margin-bottom: 7px;
        }
        }
   @media screen and (max-width:912px) {
    .codes{
      display: none;
    }
    .share{
      display: none;
    }
    .respshare{
      display: flex;
    }
   }
        @media screen and (max-width:758px) {
          .adds img{
            width: 100%;
            padding: 10px;
          }
          .sub2 h1{
            width: 210px;
            text-align: center;
          }
          .sub2{
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .salesold h3, .sales-card-table2 h3{
            width: 37.878px;
        height: 17.536px;
        font-size: 8.239px;
        padding: 2px;
        }
          .pages{
            display: flex;
            flex-wrap: wrap;
          }
          .slideshow-container{
            width: 390px;
            height: 390px;
          }
          .fade img{
            width: 281px;
             height: 281px;
             padding-right: 25px;
             padding-bottom: 50px;
          }
          .image{
            width: 91px;
height: 70px;
padding: 10px;
          
          }
          .sales-card-table2 h3{
            width: 37.878px;
        height: 17.536px;
        font-size: 8.239px;
        padding: 2px;
        }
          .info{
            margin: 0;
          }
          .sales-card-table2{
            height: 277px;
            width: 195px;
            padding: 10px;
        }
        .phone-sales img{
          width: 132.572px;
          height: 86.978px;
      }
.phone-sales h1{
  width: 36px;
height: 18px;
font-size: 8.158px;
padding: 5px;
padding-top: 3px;
}
.excl2{
  width: 82.77px;
  height: 17.536px;
  font-size: 8px;
  }
.salesold h2{
  font-size: 8.158px;
  width: 54.712px;
height: 17.536px;
padding-top: 2px;
}
.hhead p{
  width: 56.817px;
height: 17.536px;
font-size: 8.417px;
}
.hhead h2{
  width: 56.817px;
height: 17.536px;
font-size: 8.417px;
}
.buttonWrapper{
  display: flex;
  flex-direction: column;
  position: relative;
  left: -120px;
  top: 40px;
}
.mySlides2 img{
  width: 274px;
height: 275px;
padding: 10px;
border: none;
margin-top: 50px;
}

.slideshow-container2{
  width: 390px;
height: 390px;
margin-top: 40px;
}
.prev2{
  position: absolute;
  left: 5px;
  top: 169px;
  border: 1px solid #E2E1E7;
  border-radius: 50%;
  width: 49px;
height: 49px;
display: flex;
align-items: center;
justify-content: center;
}
.next2{
  position: absolute;
  left: 330px;
  top: 169px;
  border: 1px solid #E2E1E7;
  border-radius: 50%;
  width: 49px;
height: 49px;
display: flex;
align-items: center;
justify-content: center;
}
.excit{
  position: relative;
  top:-522px;
  left: 180px;
}
.dots2{
  width: 91px;
height: 70px;
margin-top: 0px;
margin-right: 4px;
}
.dots2 img{
  width: 47px;
height: 48px;
object-fit: contain;
}
}    
        @media screen and (max-width:456px){
            .logo img{
             width: 241px;
         object-fit: contain;
            }
            .right-header{
             width: 100%;
             display: none;
         align-items: center;
         gap: 10px;
            }
         }
        @media screen and (max-width:439px){
            .x-icon img, .x-icon2 img{
                position: absolute;
                top: -36px;
                right: 0px;
                }
                .main-scroll-div{
                    width: 80%;
                }
        }
        @media screen and (max-width:412px) {
            .menu{
                padding: 0;
            }
        }
    